<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../../assets/imgs/experimentalitycerebro.png" height="42" width="42">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-search"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Experimentality <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        </form>
    </div>
</nav>

<h5 class="recomend">Videos recomendados</h5>
<div class="table-responsive">
    <div class="cont">
        <div class="row">
            <div class="card-group">ng
                <div class="card" *ngFor="let item of results;let i = index">
                    <img src="{{item.snippet.thumbnails.high.url}}" (click)="showVideo(i)" class="cor">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-xs-12">
        <div class="card">
            <div class="card-body">
                <iframe width="100%" height="100%" style="min-height: 300px;"
                   [src] = "urlFinal">
                </iframe>
            </div>
        </div>
    </div>
    <div class="col-sm-5 col-xs-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>