<nav class="navbar navbar-expand-md " style="background-color: #1abc9c">
    <img src="../../../assets/imgs/experimentalitycerebro.png" height="42" width="42">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-search"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <h4 class="headTitle comforta">Experimentality</h4>
            </li>
        </ul>
            <div class="form-inline my-2 my-lg-0">
                <input class=" mr-sm-2" (keyup.enter)="search(word.value)"  placeholder="Buscar" aria-label="Search" #word>
            </div>
    </div>
</nav>