@media (max-width: 768px) {
    .cor {
        width: 100px;
    }
}

@media (min-width: 768px) {
    .cor {
        width: 190px; 
        border-radius: 4px;
        padding: 3px;
    }
}
.cont{
    margin: 2em;
}
.recomend{
    margin-top: 1em;
    margin-left: 2em;
}
.cards {
position: relative;
display: -ms-flexbox;
display: flex;
-ms-flex-direction: row;
flex-direction: row;
min-width: 0;
word-wrap: break-word;
background-color: rgba(51, 51, 51, 0);
background-clip: border-box;
border:  solid rgb(0, 0, 0);
padding-left: 0px;
padding-right: 0px;}

